
.flex-row{display: flex;flex-direction: row;}
.flex-row-r{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-r{display: flex;flex-direction: column-reverse;}

.between{justify-content: space-between;}
.around{justify-content: space-around;}
.j-center{justify-content: center;}
.wrap{flex-wrap: wrap;}
.nowrap{flex-wrap: nowrap;}
.a-center{align-items: center;}

/* 单行文本溢出省略 */
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.ellipsis-2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.ellipsis-3{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}


/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(100px);
  opacity: 0;
}