
.flex-row{display: flex;flex-direction: row;}
.flex-row-r{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-r{display: flex;flex-direction: column-reverse;}

.flex-row.between{justify-content: space-between;}
.flex-row.around{justify-content: space-around;}
.flex-row.j-center{justify-content: center;}
.flex-row.wrap{flex-wrap: wrap;}
.flex-row.nowrap{flex-wrap: nowrap;}
.flex-row.a-center{align-items: center;}

/* 单行文本溢出省略 */
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.ellipsis-2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.ellipsis-3{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}